build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.idea/
__pycache__
/invoicing/quote.pdf
/invoicing/invoice.pdf
/Invoicing-DB.db
*.pdf
*.aux
*.log
/Invoice.tex
/Quote.tex
/invoicing/templates/Invoice.tex
/invoicing/templates/Quote.tex
/invoicing/Invoicing-DB.db
Invoicing-old.db
